{% extends "account-base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-4">

            <h3>Reset Password</h3>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}
                <!-- <button
                    type="button"
                    id="togglePassword"
                    class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary border-0 bg-transparent">

                    <span id="toggleIcon" class="uil uil-eye"></span>

                </button> -->

                <button type="submit" class="btn btn-primary w-100">
                    Reset Password
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}