{% extends "account-base.html" %}
{% load static %}
{% block content %}





 <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <div class="container">
    <div class="row flex-center min-vh-100 py-5">
        <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4" href="#">
            <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img src="{% static 'assets/img/logos/LOGO-removebg.png' %}" alt="phoenix" width="58" /></div>
        </a>
        <div class="text-center mb-6">
            <h4 class="text-body-highlight">Reset new password</h4>
            <p class="text-body-tertiary">Type your new password</p>
            <form method="POST" autocomplete="off" class="mt-5">
            {% csrf_token %}
            <div class="position-relative mb-2" data-password="data-password">
                {{ form.password1 }}
                <!-- <span class="fas fa-key text-body fs-9 form-icon"></span> -->
                <button
                    type="button"
                    class="toggle-password btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary"
                    data-target="id_password1">

                    <span class="uil uil-eye"></span>

                </button>
            </div>
            <div class="position-relative mb-4" data-password="data-password">
                {{ form.password2 }}
                <!-- <span class="fas fa-key text-body fs-9 form-icon"></span> -->
                <button
                    type="button"
                    class="toggle-password btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary"
                    data-target="id_password2">

                    <span class="uil uil-eye"></span>

                </button>
            </div>
            <button class="btn btn-primary w-100" type="submit">Set Password</button>
            </form>
        </div>
        </div>
    </div>
    </div>
   <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

{% endblock %}